body {
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.opcoes-container {
    width: 50%;
    margin: auto;
}

.lista-produtos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

input,
button,
select {
    margin: 5px;
    padding: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
    font-size: 15px;
}

tbody {
    font-size: 15px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

.outros {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.outros p {
    font-weight: bold;
}

.opcoes-container {
    margin-top: 10vh;
}

.opcoes {
    display: flex;
    justify-content: center;
}

.opcoes-botoes {
    margin-bottom: 10vh;
}

.cor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cor-item button{
    width: 60%;
}