* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carrossel_container{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.carrossel{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.indicator{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 75vh;
}
.indicator span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.indicator span.active {
    background-color: #333;
}
.arrows{
    position: relative;
}
.fa-arrow-left, .fa-arrow-right{
    color: white;
    position: absolute;
    top: 40vh;
}
.fa-arrow-left{
    right: 30vw;
}
.fa-arrow-right{
    left: 30vw;
}
img{
    width: 100%;
    height: 300px;
}
.img-normal{
    
}

.img-sepia, .img-grayscale{
    display: none;
 
}

.img-sepia{
    filter: sepia(100%);
}

.img-grayscale{
    filter: grayscale(100%);
}