@import url(./variaveis.css);
.carrossel__container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.carrossel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.indicador_container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90%;
    align-items: center;
}

.indicador {
    display: flex;
    gap: 10px;
    position: absolute;
}

.indicador span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--lab3-color);
    border-radius: 50%;
    margin: 0 5px;
}

.indicador span.active {
    background-color: var(--lab4-color);
}

.arrows {
    position: relative;
    cursor: pointer;
}

.fa-arrow-left,
.fa-arrow-right {
    color: var(--lab2-color);
    position: absolute;
    top: 12vh;
}

.fa-arrow-left {
    right: 45vw;
}

.fa-arrow-right {
    left: 45vw;
}

#Banner{
    background-color: #ffcb04;
    z-index: 1;
}

/* Classes de imagens */

.img-1 {
    z-index: 1;
}

.img-2,
.img-3 {
    display: none;
    z-index: -1;
}
