@import url("./variaveis.css");

.carrinho_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
    width: 100%;
}

.nome_carrinho {
    text-align: left;
    width: 50%;
    padding-left: 25px;
}
.linha_produto {
    display: flex;
}
.prod_cor_preco {
    display: flex;
}
.nome_produto {
    text-align: left;
}
.prod_cor_preco {
    display: flex;
    width: 80%;
    font-size: 20px;
}

.prod_cor_preco img {
    width: 60px;
    height: 80px;
}

.nome_cor {
    display:flex;
    width: 75%;
    gap: 10px;
}
.produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.preco {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.quantidade {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.input_qnt_container {
    display: flex;
    flex-direction: column;
    
}
.input_qnt_container .input_qnt_icon {
    display: flex;
    flex-direction: row;
}
.input_qnt_container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.imput_qnt {
    width: 30%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 110%;
}

.imput_qnt::-webkit-inner-spin-button,
.imput_qnt::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_qnt_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.fa-solid{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30x;
}
.input_qnt_icon .fa-solid{
    font-size: 80%;
    background-color: var(--lab3-color);
    padding: 2px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
}

.button {
    background-color: var(--tertiary-color);
    color: var(--lab2-color);
    border: none;
    height: 5vh;
    width: 20vw;
    padding: 5px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 767px) {

    .nome_carrinho {
        padding-left: 0;
        text-align: center;
    }

    .cont {
        flex-direction: column;
        font-size: 15px;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
        width: 20rem;
    }
    .button {
        width: 45vw;
    }
    .prod_cor_preco {
        font-size: 15px;
    }
    .fa-solid{
        height: 1rem;
        width: 1rem;
        font-size: 15px;
    }
    .nome_produto {
        width: 90%;
    }
}

    


