@import url(./variaveis.css);

.carrossel__container {
<<<<<<< HEAD
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .carrossel {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
  }
  .indicador_container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90%;
    align-items: center;
  }
  .indicador {
    display: flex;
    gap: 10px;
    position: absolute;
  }
  .indicador span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--lab3-color);
    border-radius: 50%;
    margin: 0 5px;
  }
  .indicador span.active {
    background-color: var(--lab4-color);
  }
  .arrows {
    position: relative;
    cursor: pointer;
  }
  .fa-arrow-left,
  .fa-arrow-right {
    color: var(--lab2-color);
    position: absolute;
    top: 12vh;
  }
  .fa-arrow-left {
    right: 45vw;
  }
  .fa-arrow-right {
    left: 45vw;
  }
  .carrossel__container img {
    width: 100%;
    height: 100%;
  }
  .img-normal {
    z-index: -1;
  }
  
  .img-sepia,
  .img-grayscale {
    display: none;
    z-index: -1;
  }
  
=======
  align-items: center;
  display: flex;
  justify-content: center;
}

.carrossel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.indicador_container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 90%;
}

.indicador {
  display: flex;
  gap: 10px;
  position: absolute;
}

.indicador span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--lab3-color);
  border-radius: 50%;
  margin: 0 5px;
}

.indicador span.active {
  background-color: var(--lab4-color);
}

.arrows {
  position: relative;
  cursor: pointer;
}

.fa-arrow-left,
.fa-arrow-right {
  color: var(--lab2-color);
  position: absolute;
  top: 12vh;
}

.fa-arrow-left {
  right: 45vw;
}

.fa-arrow-right {
  left: 45vw;
}

.carrossel__container img {
  width: 100%;
  height: 100%;
}

.img-1 {
  z-index: -1;
}

.img-2,
.img-3 {
  display: none;
  z-index: -1;
}
>>>>>>> e36cb9cb6837d8404d5704216030074ec7453bff


/*
.carrossel__container{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.carrossel{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.indicator{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 75vh;
}
.indicator span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.indicator span.active {
    background-color: #333;
}
.arrows{
    position: relative;
}
.fa-arrow-left, .fa-arrow-right{
    color: white;
    position: absolute;
    top: 40vh;
}
.fa-arrow-left{
    right: 30vw;
}
.fa-arrow-right{
    left: 30vw;
}
img{
    width: 100%;
    height: 300px;
}
.img-normal{
    
}

.img-sepia, .img-grayscale{
    display: none;
 
}

.img-sepia{
    filter: sepia(100%);
}

.img-grayscale{
    filter: grayscale(100%);
}