@import url("../css/variaveis.css");

#corpo_categorias {
  padding: 30px;
  background-color: var(--primary-color);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: left;

}

.menuL {
  padding: 15px;
  font-family: "funnelSans";
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuL h1 {
  padding: 5px;
}

.links-categoria {
  list-style-type: none;
  text-decoration: none;
  color: var(--lab1-color);
  cursor: pointer;
}

.links-categoria summary {
  list-style: none;
  padding-left: 20px;
}
.links-categoria li {
  list-style: none;
}
.sub_itens {
  text-decoration: none;
  padding-left: 40px;
  color: var(--lab1-color);
}

.remover_filtro {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  padding-top: 5px;
}
.remover_filtro #remover-filtro {
  width: 7rem;
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  background-color: var(--secondary-color);
  color: #000000;
  cursor: pointer;
}

 @media (max-width: 767px) {
  #corpo_categorias {
    display: none;
    position: fixed;
    right: 0%;
    top: 10.8%;
    width: 80%;
    height: 100%;
    box-shadow: -10px 0px 10px -8px #000;
  }

  .menuL {
    align-items: end;
    text-align: right;
    gap: 10px;
  }

  .links-categoria {
    padding-right: 20px;
    text-align: right;
  }

  .sub_itens {
    text-align: right;
  }
  .remover_filtro{
    padding-left: 0px;
    padding-right: 20px;
  }
}