@import url(./variaveis.css);

* {
    margin: 0;
    scrollbar-width: thin;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--lab2-color);
    font-size: 20px;
    font-family: "FunnelSans";
}

main h3 {
    font-family: "Pacifico";
    letter-spacing: 1px;
}

main h2 {
    font-family: "Pacifico";
    letter-spacing: 1px;
}

main h1 {
    font-family: "Pacifico";
    letter-spacing: 1px;
}



.container_sobre {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 40px;
    gap: 15px;
<<<<<<< HEAD
    width: 100%;
=======

>>>>>>> e36cb9cb6837d8404d5704216030074ec7453bff
}

.cards_container {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 25px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-color);
    width: 20rem;
    padding: 25px;
    border-radius: 25px;
    color: var(--lab2-color);
    gap: 20px;
}

<<<<<<< HEAD
@media (max-width: 767px) {
    .cards_container{
        flex-direction: column;
    }
}
=======
@media (max-width: 767px) {}
>>>>>>> e36cb9cb6837d8404d5704216030074ec7453bff
