*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    width: 100vw;
}
/* header contato */
.contato{
    background-color: #9BDE87;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}
.contato span a{
    color: #000;
    text-decoration: none;
    margin-left: 0.1rem;
    font-size: 1rem;
}
/* header main */
.header_main{
    background-color: #FEFAAB;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}
.header_main img{
    width: 7%;
}
.barra-de-pesquisa{
    background-color: #DCDBDB;
    padding: 0.3rem;
    width: 40%;
}
.barra-de-pesquisa input{
    background-color: transparent;
    border: none;
    outline: 0;
    width: 37%;
}
.barra-de-pesquisa input::placeholder{
    color: #928D8D;
}
.outros{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.outros a{
    color: #000;
    text-decoration: none;
}
.usuario_carrinho{
    display: flex;
    gap: 2rem;
    align-items: center;
}

main{
    display: flex;
}
.carrossel__container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.carrossel{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.indicator{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 75vh;
}
.indicator span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.indicator span.active {
    background-color: #333;
}
.arrows{
    position: relative;
}
.fa-arrow-left, .fa-arrow-right{
    color: white;
    position: absolute;
    top: 30vh;
}
.fa-arrow-left{
    right: 20vw;
}
.fa-arrow-right{
    left: 20vw;
}
.carrossel__container img{
    width: 50vw;
    height: 60vh;
}
.img-normal{
    z-index: -1;
}

.img-sepia, .img-grayscale{
    display: none;
    z-index: -1;
}

.img-sepia{
    filter: sepia(100%);
}

.img-grayscale{
    filter: grayscale(100%);
}