* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
    
} */

/* header */
header {
  width: 100%;
}
/* header contato */
.contato {
  background-color: #f4821f;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem;
}
.contato span a {
  color: #000;
  text-decoration: none;
  margin-left: 0.1rem;
  font-size: 1rem;
}
/* header main */
.header_main {
  background-color: #fecb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}
.header_main img {
  width: 7%;
}
.barra-de-pesquisa {
  background-color: #dcdbdb;
  padding: 0.3rem;
  width: 40%;
}
.barra-de-pesquisa input {
  background-color: transparent;
  border: none;
  outline: 0;
  width: 37%;
}
.barra-de-pesquisa input::placeholder {
  color: #928d8d;
}
.outros {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.outros a {
  color: #000;
  text-decoration: none;
}
.usuario_carrinho {
  display: flex;
  gap: 2rem;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}
.carrossel__container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.carrossel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
}
.indicator {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 45vh;
}
.indicator span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.indicator span.active {
  background-color: #333;
}
.arrows {
  position: relative;
}
.fa-arrow-left,
.fa-arrow-right {
  color: white;
  position: absolute;
  top: 12vh;
}
.fa-arrow-left {
  right: 45vw;
}
.fa-arrow-right {
  left: 45vw;
}
.carrossel__container img {
  width: 100%;
  height: 100%;
}
.img-normal {
  z-index: -1;
}

.img-sepia,
.img-grayscale {
  display: none;
  z-index: -1;
}
/*corpo*/

.corpo {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.corpo_categorias {
  padding: 30px;
  background-color: #f4821f;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuL {
  padding: 15px;
}

.menuL ul {
  list-style-type: none;
}
.menuL li {
  padding: 5px;
}
.links-categoria {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.corpo_catalogo {
  width: 75%;
  padding: 10px;
  background-color: #ffffe6;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: left;
}
.catalogo a {
  text-decoration: none;
}

.produtos {
  width: 15rem;
  color: #000;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 10px;
  gap: 10px;
}
.produtos img {
  width: 100%;
  border-radius: 10px;
  z-index: 2;
}
.produtos button {
  color: #fff;
  font-size: larger;
  width: 150px;
  height: 50px;
  border-style: none;
  background-color: #3d3b87;
  padding: 5px;
  border-radius: 5px;
}

.whats-container {
  position: fixed;
  right: 0.5%;
  bottom: 0;
  z-index: 1;
}
.whats img {
  width: 5rem;
  border-radius: 50%;
}

/*footer*/
.background {
  background-image: url("../img/canecaPreta.png");
  background-size: 100%;
}
footer a {
  text-decoration: none;
  color: white;
}

.footerFundo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 31rem;
  gap: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.footercoluns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.footer_colun1 {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  width: 50%;
}
.footer_colun2 {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  width: 50%;
}

.redesFooter img {
  width: 50px;
  border-radius: 10px;
}
.img_redes {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.redesFooter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.logo_footer img {
  width: 100px;
  border-radius: 50%;
}

.copyright {
  background-color: black;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

@media (max-width: 767px) {
  /* carrossel */
  .indicator {
    position: absolute;
    top: 40vh;
  }
  /* produtos */
  .corpo {
    display: flex;
    justify-content: center;
  }
  .corpo_categorias {
    display: none;
  }
  .catalogo {
    display: flex;
    justify-content: center;
  }
  .background {
    background-size: 250%;
    background-position: -16rem;
  }
 
  .footercoluns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .footer_colun1 {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .footer_colun2 {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: column;
  }

  .redesFooter {
    gap: 10px;
  }
  .copyright {
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
}
