@import url("./variaveis.css");

.produto_view {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: fit-content;
}

.carrossel_img {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    padding: 20px;
}

.imagem_principal {
    height: 80vh;
    width: 70%;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.imagem_principal img {
    width: 100%;
}

.carrossel_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 80vh;
    width: 30%;
    padding: 10px;
}

.imagem_view {
    width: 100%;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
    height: 26vh;
    padding: 10px;
}
.imagem_view2 {
    display: none;
}

.descricao {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 80vh;
    width: 30%;
    gap: 10px;
    justify-content: space-around;
}

.nome_descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.valor_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

.valor_button button {
    color: var(--lab2-color);
    width: 90%;
    height: 3rem;
    border-style: none;
    background-color: var(--tertiary-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}



@media (max-width: 767px) {
    .produto_view {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .carrossel_img {
        flex-direction: column-reverse;
        align-items: center;
    }
    .carrossel_view{
        flex-direction: row;
        height: 20vh;
        width: 50%;
    }
    .imagem_principal {
        height: 50vh;
        width: 70vw;
    }
    .imagem_principal img {
        width: 70%;
    }
    .descricao {
        width: 100%;
    }
}
