@import url("./variaveis.css");

.carrossel_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
}

.seta {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    padding: 5px;
}

#cima {
    transform: rotate(270deg);
}

#baixo {
    transform: rotate(90deg);
}



#produto_view {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    width: 100%;
    height: fit-content;
    gap: 20px;
}

.carrossel_img {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: auto;
}

.imagem_principal {
    max-height: 70vh;
    max-width: 70%;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.imagem_principal img {
    width: 100%;
    border-radius: 20px;
    height: auto;
}

.carrossel_view {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.imagem_view {
    width: 100%;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 10px;
    height: 20vh;
    padding: 10px;
    cursor: pointer;
}


.descricao {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 70vh;
    min-height: 50vh;
    width: 50%;
    gap: 5px;
    justify-content: space-between;
}

.nome_descricao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60%;
}

#descricao_produto {
    max-height: 60%;
    overflow: hidden;
}

.cores {
    display: flex;
    height: 1.5rem;
    width: 5rem;
    gap: 5px;
}

.cor_produto {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--lab3-color);
    cursor: pointer;
}

.valor_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    align-items: left;
    height: 40%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.buttons button {
    color: var(--lab2-color);
    width: 90%;
    height: 3rem;
    border-style: none;
    background-color: var(--tertiary-color);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

@media (max-width: 767px) {
    #produto_view {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .carrossel_img {
        flex-direction: column;
        align-items: center;
    }

    .carrossel_container {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .carrossel_view {
        align-items: center;
        flex-direction: row;
        height: 26vh;
        width: 100%;
    }

    .imagem_principal {
        height: 50vh;
        width: 70vw;
    }

    .descricao {
        width: 100%;
    }

    #cima {
        transform: rotate(180deg);
    }

    #baixo {
        transform: rotate(0deg);
    }
}