@font-face {
  font-family: "Pacifico";
  src: url('../img/icons/Pacifico-Regular.ttf');
}
@font-face {
  font-family:"FunnelSans";
  src: url('../img/icons/FunnelSans-Regular.ttf');
}


:root {
  --primary-color: #f4821f;
  --secondary-color: #fecb02;
  --tertiary-color: #3d3b87;
  --footer-color: #A25641;
  --lab1-color: #000;
  --lab2-color :#fff;
  --lab3-color :#dcdbdb;
  --lab4-color :#928d8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}